@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Roboto+Condensed&display=swap');

.app__Header
{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
}

.app__Header-form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    /* border: 2px solid red; */
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 3rem;
    background-color: #b3f1fe;
    height: fit-content;
}

.app__Header-form h1
{
    margin: 0;

}

.app__Header-form form
{
    margin-top: 2rem;
}

h2
{
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: center;
}

.info
{
    text-align: justify;
}
.app__Header-form form
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.app__Header-form form input
{
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.1rem;
}

.app__Header-form form p
{
    text-decoration: none;
}

.app__Header-form p.info
{
    margin-left: 1rem;
}


.app__Header-votingimg
{
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
}

.app__Header-votingimg img
{
    width: 40rem;
    height: 50%;
    margin: 1.5rem
}

.app__Header-votingimg div
{
    width: 40rem;
    text-align: center;
    justify-content: center;
    margin: auto;
    /* margin: 0; */
    
}


button:hover
{
    cursor: pointer;
    transition: 0.25s ease;
    background-color:#73a3e8;
}

button
{
    height: 2.25rem;
    width: 30rem;
    background-color: #35CD4D;
    color: aliceblue;
}

::placeholder, button
{
    font-family: 'Baloo Bhai 2';
    font-size: 1.1rem;
}


@media screen and (max-width: 1150px)
{
    .app__Header
    {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .app__Header-form h1{
        text-align: center;
    }

    .app__Header-form
    {
        width: 40rem;
        font-size: 1.25rem;
    }

    .app__Header-form form
    {
        justify-content: center;
        align-items: center;
    }

    .app__Header-form input, button
    {
        width: 25rem;
        justify-content: center;
    }

    .app__Header-votingimg img
    {
        width: 34rem;
    }
}



@media screen and (max-width: 650px) {


    .app__Header
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .app__Header h1
    {
        font-size: 1.6rem;
    }


    .app__Header-form input, button
    {
        width: 15rem;
    }

    .app__Header-form .info
    {
        width: 16rem;
        font-size: .95rem;
    }

    .app__Header-form h1
    {
        font-size: 1.1rem;
    }

    .app__Header-form h2,h3
    {
        font-size: large;
    }

    .app__Header-form form
    {
        margin-top: 0.5rem;
    }

    .app__Header-form
    {
        width: 18rem;
    }

    .app__Header-votingimg img
    {
        width: 22rem;
    }

    .app__Header-votingimg  div
    {
        width: 20rem;
    }

}







