@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Roboto+Condensed&display=swap');

.app__Header
{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    margin-top: 4rem;
}

.app__Header-form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
}

.app__Header-form h1,h2
{
    margin: 0;
}

h2
{
    margin-top: 2rem;
}

.info
{
    text-align: justify;
}
.app__Header-form form
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.app__Header-form form input
{
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.1rem;
}

.app__Header-form form p
{
    text-decoration: none;
}


.app__Header-votingimg img
{
    width: 35rem;
}

button:hover
{
    cursor: pointer;
    transition: 0.25s ease;
    background-color:#73a3e8;
}

button
{
    height: 2.25rem;
    width: 30rem;
    background-color: #4d54b6;
    color: aliceblue;
}

::placeholder, button
{
    font-family: 'Baloo Bhai 2';
    font-size: 1.1rem;
}


@media screen and (max-width: 1150px)
{
    .app__Header
    {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
    }

    .app__Header-form h1{
        text-align: center;
    }

    .app__Header-form
    {
        width: 40rem;
        font-size: 1.25rem;
    }

    .app__Header-form form
    {
        justify-content: center;
        align-items: center;
    }

    .app__Header-form input, button
    {
        width: 25rem;
        justify-content: center;
    }

    .app__Header-votingimg img
    {
        width: 34rem;
    }
}



@media screen and (max-width: 650px) {


    .app__Header
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    
    .app__Header h1
    {
        font-size: 1.6rem;
    }


    .app__Header-form input, button
    {
        width: 15rem;
    }

    .app__Header-form .info
    {
        width: 22rem;
        font-size: 1.15rem;
    }

    .app__Header-form
    {
        width: 22rem;
    }

    .app__Header-votingimg img
    {
        width: 22rem;
    }

}








