.app__Navbar
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8FDEEF;
}


.app__Navbar-logo
{
    flex-direction:row;
    display:flex;   
}
.app__Navbar-logo img
{
   
    width: 5rem;
    margin: 0 1rem 0 3rem;  
}

.app__Navbar-logo h1
{
    font-size: 1.5rem;
}


.app__Navbar-links
{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.app__Navbar-links li
{
    list-style: none;
    padding-right: 5rem;
}

.app__Navbar-links li a
{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}

.app__Navbar-links li a:hover
{
    color: rgb(176, 185, 192);
}


.app__Navbar-smallscreen
{
    display: none;
    color: white;
}

.app__Navbar-smallscreen-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #8FDEEF;
    transition: 0.5s ease;
    color: white;
    flex-direction: column;
    z-index: 1;
}

.app__Navbar-smallscreen-overlay .overlay__close
{
    font-size: 27px;
    color: white;
    cursor: pointer;
    position: absolute;
    top:20px;
    right: 20px;
    
}

.app__Navbar-smallscreen-links
{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    /* justify-content: space-evenly; */
}



.app__Navbar-smallscreen-links li
{
    align-items: center;
    margin: 2.5rem;
    font-size: 2rem;
    text-align: center;
    /* font-family: b; */
    cursor: pointer;
}

.app__Navbar-smallscreen-links li a{
    color: white;
    text-decoration: none;
    
}

.app__Navbar-smallscreen-links li a:hover
{
    color: rgb(176, 185, 192);
}


@media screen and (max-width: 650px) {
    .app__Navbar-links
    {
        display: none;
    }

    .app__Navbar
    {
        border-radius: 0 0 2rem 2rem;
    }

    .app__Navbar-smallscreen{
        display: flex;
    }

    .app__Navbar-logo img
    {
        width: 80px;
    }
    .app__Navbar-smallscreen
    {
        padding-right: 1rem;
    }
}




/* ------------------------------------- */
/* ------------------------------------- */

