.app__adminlayout-info h1
{
    text-align: center;
    margin-top: 0;
}

.app__admin-info
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.app__admin-info div
{
    margin: 0 5rem;
}

.app__admin-controlpanel h2
{
    margin-top: 0;
    color: blue;
}

.actions-cards
{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}
/* flex-wrap: wrap; */

.action-card
{
    display: flex;
    margin: .5rem;
    padding: .5rem;
    border-radius: 5rem;
    width: 35rem;
    height: 7rem;
    background-color: #9298f5;
    justify-content: space-between;
}


.action-card:hover
{
    box-shadow: 0 18px 46px 0 rgba(0, 0, 0, 0.600);
}
.action-card img
{
    width: 15rem !important;
    margin-left: 2rem;
    justify-content: center;
    align-items: center;
}

.action-card .container
{
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1150px) {

    .actions-cards{
        width: 80%;
        margin: auto;
    }
}


@media screen and (max-width: 650px) {
    .app__adminlayout-info{
        width: 90%;
        margin: auto;
    }

    .app__admin-info
    {
        font-size: medium;
        flex-direction: column-reverse;
    }

    .app__admin-controlpanel
    {
        text-align: center;
    }

    .action-card
    {
        width: 90%;
    }

}
